@import '@styles/shared.scss';

.header {
  padding: 24px 0;
  border-bottom: 1px solid $primary-grey;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    @extend %button;
    width: 100px;
    height: 42px;
    color: $accent;
    border: 2px solid $accent;
  }
}
